footer {
  width: 100%;
  background-color: #fff;
  text-align: center;
  padding: 50px 30px;
}

footer p:not(:nth-child(1)) {
  margin-top: 5px;
}

footer p a {
  color: #3880c7;
  transition: .3s;
}

footer p a:hover {
  color: #2b5c8c;
}

.scroll-progress {
  position: fixed;
  width: 100%;
  height: 5px;
  background-color: #ccc;
  z-index: 3000;
  bottom: 0;
  opacity: 0;
  transition: opacity .3s;
}

.progress {
  height: 100%;
  background-color: #6AB1F7;
  width: 100%;
  transform: scale(0);
  transform-origin: left;
}

.progress-scrolled {
  opacity: 1;
  transition: opacity .3s;
}

.logos {

}

.logos img {
  width: 50%;
  height: auto;
  float: left;
}

footer img {
  width: 100%;
  margin-top: 20px;
}
