*{
    box-sizing: border-box;
    font-family: 'Lato', 'Arial', sans-serif;
    text-align: justify;
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    /* Background pattern from subtlepatterns.com */
    background-image: url("img/hip-square.png");
}
.a, .b, .c, .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p, .q, .r, .navbac{
    background-color: #b87332;
    border: 7px #70201f solid;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
header{
    background-color: #b87332;
    width: 100%;
    height: 70px;
    margin: 0;
}
.header{
    height: 50px;
    background-color: #70201f;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: sticky;
    top: 0px;
}
footer{
    height: 50px;
    background-color: #70201f;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
h1{
    font-size: 64px;
    margin-top: 0;
    text-align: center;
}
h2{
    text-align: center;
}
p{
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
    transition: 0.3s;
}
a:hover {
    font-weight: bold;
    text-decoration: underline;
}
img{
    padding: 10px;
    display: block;
    margin: auto;
}
hr{
    border: 1px #70201f solid;
}
.scrollup{
    width: 64px;
    height: 64px;
    text-decoration: none;
    background: url("img/up.png") no-repeat 0px 0px;
    position: fixed;
    right: 50px;
    bottom: 70px;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #b87332;
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    display: block;
}
  
/* When you mouse over the navigation links, change their color */

  
/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  
/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}
  
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) 
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}*/
span{
    cursor: pointer;
}

@media screen and (min-width: 1000px){
    #container{
        display: grid;
        gap: 20px;
        grid-template-columns: 20% 1fr 1fr 1fr;
        width: 80%;
        margin: 0 auto;
        grid-template-areas:
        "z a a b"
        "z c d d"
        "z e e f"
        "z g h h"
        "z i i j"
        "z k l l"
        "z m m n"
        "z o p p"
        "z q q r";
    }
    footer h2{
        position: relative;
        top: 11px;
    }
    .nav{
        position: sticky;
        top: 70px;
    }
    footer a{
        left: 0;
        bottom: 0;
    }
    footer h2{
        margin-bottom: 0;
    }
    li{
        text-align: left;
        padding: 5px;
    }
    .a{
        grid-area: a;
    }
    .b{
        grid-area: b;
    }
    .c{
        grid-area: c;
    }
    .d{
        grid-area: d;
    }
    .e{
        grid-area: e;
    }
    .f{
        grid-area: f;
    }
    .g{
        grid-area: g;
    }
    .h{
        grid-area: h;
    }
    .i{
        grid-area: i;
    }
    .j{
        grid-area: j;
    }
    .k{
        grid-area: k;
    }
    .l{
        grid-area: l;
    }
    .m{
        grid-area: m;
    }
    .n{
        grid-area: n;
    }
    .o{
        grid-area: o;
    }
    .p{
        grid-area: p;
    }
    .q{
        grid-area: q;
    }
    .r{
        grid-area: r;
    }
    .navbac{
        grid-area: z;
    }
    .index, .lan{
        position: relative;
        font-weight: bold;
        top: 15px;
        margin-left: 15px;
    }
    span{
        display: none;
    }

}

@media screen and (min-width: 1000px) and (max-width: 1450px){
    #container{
        width: 960px;
        margin: auto;
        display: grid;
        gap: 20px;
        grid-template-columns: auto;
        grid-template-areas:
        "z a b"
        "z c d"
        "z e f"
        "z g h"
        "z i j"
        "z k l"
        "z m n"
        "z o p"
        "z q r";
    }
    .header{
        position: sticky;
        height: 50px;
        top: 0px;
        background-color: #70201f;
        margin-bottom: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    .a, .b, .c, .d, .e, .f, .g, .h, .i, .j, .k, .l, .m, .n, .o, .p, .q, .r{
        width: 368px;
    }
    .navbac{
        grid-area: z;
    }
}

@media screen and (min-width: 450px) and (max-width: 1000px){
    #container{
        overflow-x: hidden;
        width: 90%;
        margin: auto;
        display: grid;
        gap: 20px;
        grid-template-columns: 100%;
        grid-template-areas:
        "a"
        "d"
        "e"
        "h"
        "i"
        "l"
        "m"
        "p"
        "q";
    }
    .a, .d, .e, .h, .i, .l, .m, .p, .q{
        width: 100%;
    }
    .navbac, .scrollup, .b, .c, .f, .g, .j, .k, .n, .o, .r, .header a{
        display: none;
    }
    span{
        position: relative;
        left: 2px;
        zoom: 200%;
    }
}

/*telefony ------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 450px){
    #container{
        margin: 10px;
        display: grid;
        gap: 10px;
        grid-template-columns: 100%;
        width: 100%;
        grid-template-areas:
        "a"
        "d"
        "e"
        "h"
        "i"
        "l"
        "m"
        "p"
        "q";
    }
    header{
        width: 100%;
        background-color: #b87332;
    }
    .header{
        width: 100%;
    }
    a{
        text-align: center;
        margin: 0;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .a, .d, .e, .h, .i, .l, .m, .p, .q{
        width: 100%;
    }
    .navbac, .scrollup, .b, .c, .f, .g, .j, .k, .n, .o, .r, .header a{
        display: none;
    }
    span{
        position: relative;
        left: 2px;
        zoom: 200%;
    }
    h1{
        font-size: 48px;
    }
}