
.icon-quote-left:before { content: '\e800'; } /* '' */
.icon-quote-right:before { content: '\e801'; } /* '' */
.icon-book:before { content: '\e802'; } /* '' */
.icon-link-ext:before { content: '\f08e'; } /* '' */
